<% host = Rails.configuration.action_mailer.default_url_options[:host] %>
<% port = Rails.configuration.action_mailer.default_url_options[:port] ? ":#{Rails.configuration.action_mailer.default_url_options[:port]}" : "" %>
<% @change_password_url = "http://#{host}#{port}/reset_password?reset_password_token=#{@token}" %>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', @change_password_url %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
